.freezers-content-container {
	.products-grid {
		max-width: 100%;
		width: 80%;
		height: auto;
		margin: 30px auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-gap: 12px;
		// grid-template-columns: 1fr;
		// grid-template-rows: repeat(5, 1fr);
		// grid-column-gap: 10px;
		// grid-row-gap: 10px;
		justify-content: center;

		.freezer-item {
			width: 300px;
			height: 200px;
		}
	}

	.pagination-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0 0 0;

		.pagination {
			display: flex;

			.page-link {
				width: 20px;
				height: 20px;
			}

			.page-item {
				cursor: pointer;
				margin: 0 5px;
			}

			.active {
				color: #d55672ff;
				font-weight: 700;
			}

			.disabled {
				display: none;
			}
		}
	}

	.btn-container {
		text-align: center;
	}
}
