.login-container {
	max-width: 500px;
	margin: 0 auto;

	form {
		background-color: #fff;
		border-radius: 16px;
		box-shadow: 0 30px 30px -25px rgba(#57c4e5ff, 0.25);
		max-width: 500px;
		padding: 1.5rem;

		input[type='email'],
		input[type='password'],
		input[type='text'] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #57c4e5ff;
			border-radius: 16px;
			box-sizing: border-box;

			&:focus,
			&:focus-visible {
				border: 1px solid #d55672ff;
			}
		}

		.signup-btn {
			background-color: #57c4e5ff;
			color: #fff;
			padding: 12px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 16px;
			cursor: pointer;
			width: 100%;
			font-size: 16px;

			&:hover {
				background-color: #d55672ff;
			}

			&:disabled {
				background-color: #e0e0e0;
			}
		}
	}

	.container {
		padding: 16px;
	}

	.bottom-container {
		font-size: 0.8em;
		text-align: center;
		display: flex;
		justify-content: space-around;
	}

	#success {
		margin-bottom: 10px;
		text-align: center;
		color: #d55672ff;
	}

	#server-error {
		margin-bottom: 10px;
		text-align: center;
		color: red;
	}
}
