@import 'src/styles/settings';

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.edit-btn {
	background-color: #57c4e5ff;
	color: #fff;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 10px;

	svg {
		margin-top: 3px;
	}

	&:hover {
		background-color: #d55672ff;
	}
}

.delete-btn {
	background-color: #f44336;
	color: #fff;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	width: 50px;
	height: 50px;

	svg {
		margin-top: 3px;
	}

	&:hover {
		background-color: #ef9a9a;
	}
}

.add-btn {
	background-color: #57c4e5ff;
	color: #fff;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	width: 200px;
	height: 50px;
	margin: 10px;
	font-size: 14px;

	svg {
		margin-top: 3px;
	}

	&:hover {
		background-color: #d55672ff;
	}
}

.card {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(#4133b7, 0.25);
	max-width: 300px;
	height: 200px;
	padding: 1.5rem;
	transition: transform 0.4s;

	.img-container {
		text-align: center;
		margin-bottom: 20px;

		img {
			width: 25%;
			height: 25%;
		}
	}

	.container {
		text-align: center;
	}

	&:hover {
		cursor: pointer;
		transform: scale(1.05);
	}
}
