.edit-freezer-container {
	margin: 0 auto;
	max-width: 1200px;

	h1 {
		margin: 20px 0;
		text-align: center;
	}

	.form-container {
		max-width: 500px;
		margin: 0 auto;
		background-color: #fff;
		padding: 1rem;
		border-radius: 16px;
		box-shadow: 0 30px 30px -25px rgba(#4133b7, 0.25);

		form {
			max-width: 500px;
			padding: 1.5rem;

			input[type='text'],
			select {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #57c4e5ff;
				border-radius: 16px;
				box-sizing: border-box;

				&:focus,
				&:focus-visible {
					border: 1px solid #d55672ff;
				}
			}

			select {
				color: #212738ff;
				font-size: 14px;
			}
		}

		.btn-container {
			text-align: center;
		}
	}

	.container {
		padding: 16px;
	}

	.error-msg {
		color: red;
		font-style: italic;
		font-size: 0.8em;
		margin-left: 10px;
	}
}
